

.Contacts-Div {
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conatact-container {
    position: absolute;
    width: 80vw;
    height: 70vh;
    top: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;

}

.contact-div {
    color: white;
    font-family: "Playwrite HR Lijeva", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    margin-top: -20vh;
    text-shadow: 1px 1px 10px rebeccapurple;
}

.contact-icons {
    width: 80vw;
    margin-top: -40vh;
}

.contact-icons ul {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* width: 100%; */
}

.contact-icons ul li {
    width: auto;
    height: auto;
    display: flex;
    place-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    background: black;
    flex-direction: column;
    animation: shake 0.5s ease-in-out infinite;
    animation-fill-mode: both;
    animation-timing-function:ease-in-out;
}




ul li .Cnt-Icons {
    filter: drop-shadow(2px 2px 30px rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: "50px";
    border-radius: 10%;
    transition:all 0.8s ;
    /* box-shadow: 0px 0px 10px 1px white;  */
}

ul li {
    display: flex;
    position: relative;
    
}


ul li .Cnt-Icons:hover {

    color: #91AC8F;
    box-shadow: 0px 0px 100px 1px white;
    filter: drop-shadow(0px 0px 2px rgb(109, 187, 144));
}

.icons-title {
    width: auto;
    height: auto;
    /* border: 1px solid white; */
    font-size: 2em;
    font-weight: bold;
    place-content: center;
    display: flex;
    color: white;
    align-items: center;
    text-shadow: 1px 1px 10px black;
    justify-content: center;
    cursor: pointer;
    display: none;
    transition-property:font-weight;
    transition-duration: 2s;
}

li:hover .icons-title {
    display: block;
    justify-content: center;
    place-content: center;
    display: flex;
    color: white;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}